.row {
	margin-top: 10vh;

	.card {
		.readme {
			p {
				text-align: justify;
				font-weight: 600;

				&.paragraph {
					margin-bottom: 10px;
				}
			}
		}

		.card-action {
			a {
				// text-align: center;
				font-weight: 600;
				opacity: 1;
				transition: all .2s ease !important;

				&:hover {
					opacity: .8;
				}

				&.begin {
					width: 100%;
				}
			}		
		}
	}
}

